asgiref==3.8.1
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cloudinary==1.42.1
cryptography==44.0.0
dj-database-url==2.3.0
Django==5.1.4
django-allauth==65.3.1
django-allauth-ui==1.5.3
django-cloudinary-storage==0.3.0
django-daisy==1.0.8
django-widget-tweaks==1.5.0
google-api-core==2.24.0
google-auth==2.37.0
google-cloud-vision==3.9.0
googleapis-common-protos==1.66.0
grpcio==1.69.0
grpcio-status==1.69.0
gunicorn==23.0.0
idna==3.10
oauthlib==3.2.2
packaging==24.2
proto-plus==1.25.0
protobuf==5.29.3
psycopg==3.2.4
psycopg-binary==3.2.4
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.10.1
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.17.0
slippers==0.6.2
sqlparse==0.5.3
typeguard==2.13.3
typing_extensions==4.12.2
urllib3==2.3.0
