<!DOCTYPE html>
<html data-theme="cupcake" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com?plugins=typography,aspect-ratio"></script>

    {% block head %}
    
    {% endblock head %}

  </head>
  <body>
    <header>
        <nav>
          <div class="navbar bg-base-200 ">
            <div class="navbar-start">
              <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M4 6h16M4 12h16M4 18h7" />
                  </svg>
                </div>
                <ul
                  tabindex="0"
                  class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                  <li><a href="{% url 'list-resep' %}">Explore</a></li>
                  <li><a href="{% url 'tambah-resep' %}">Share a Recipe</a></li>
                </ul>
              </div>
            </div>
            <div class="navbar-center">
              <a href="{% url 'index' %}" class="btn btn-ghost text-xl">SimpleSpoon</a>
            </div>

            <div class="navbar-end">
            {% if user.is_authenticated %}
            
              <div class="flex-none gap-2">
                <div class="dropdown dropdown-end">
                  <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                      <img
                        alt="Simple Spoon"
                        src="{{user.socialaccount_set.all.0.get_avatar_url}}" />
                    </div>
                  </div>
                  <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    <li>
                      <a  href="{% url 'resep-saya' %}" class="justify-between">
                        My Recipes
                      </a>
                    </li>
                    <li>
                      <a  href="{% url 'resep-favorit' %}" class="justify-between">
                        Favourites
                      </a>
                    </li>
                    <li><a href="/accounts">Settings</a></li>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                  </ul>
                </div>
              {%else%}
                <a  href="{% url 'account_login' %}" class="btn btn-primary mr-5">Sign In</a>
              {% endif %}
            </div>



              
            </div>
          </div>
        </nav>
    </header>
    <main>
        {% block content %}
        
        {% endblock content %}
    </main>
  </body>
</html>
