{% extends 'base.html' %}

{% block title  %}{{recipe.name}}{% endblock title %}

{% block head %}
{% endblock head %}


{% block content %}
<div class="container mx-auto py-10 px-4 sm:px-6 lg:px-8">
  <h1 class="text-4xl font-bold text-center">{{ recipe.name }}</h1>
  <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="my-6 w-full max-w-xl mx-auto rounded-lg shadow-md" />

  {% if user.is_authenticated and is_liked%}
  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn">
      Favourite
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="red" <!-- Ubah warna menjadi merah -->
        viewBox="0 0 24 24"
        stroke="currentColor">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
      </svg>
      {{like_count}}
    </button>
  </form>
  {% elif user.is_authenticated %}
  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn">
      Favourite
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
      </svg>
      {{like_count}}
    </button>
  </form>
  {% else %}
  <button type="submit" class="btn">
    Favourite
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
    </svg>
    {{like_count}}
  </button>
  {% endif %}

  <h2 class="text-2xl font-bold mt-8">Description:</h2>
  <p class="text-xl">{{recipe.description}}</p>

  
  <h2 class="text-2xl font-bold mt-8">Ingredients:</h2>
  <ul class="list-disc pl-6">
    {% for ingredient in recipe.ingredients %}
    <li class="text-xl">{{ ingredient.value }} {{ ingredient.name }}</li>
    {% endfor %}
  </ul>

  <h2 class="text-2xl font-bold mt-8">Instructions:</h2>
  <div class="prose max-w-full">
    <textarea class="max-w-full" id="instructions">{{recipe.instructions}}</textarea>
  </div>

  <h2 class="text-2xl font-bold mt-8">Tutorial Video:</h2>
  
  <div class="relative">
    <div class="card card-compact bg-base-100 w-96 shadow-xl">
      <figure>
        <img src="{{ video.thumbnail }}" alt="{{ video.title }}">
      </figure>
        <iframe
          class="w-full aspect-video rounded-lg shadow-lg"
          src="{{recipe.videoUrl}}"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
        ></iframe>
    </div>  
  </div>
  

  
  

  <h2 class="text-2xl font-bold mt-8">Related YouTube Videos</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {% for video in youtube_videos %}
      <div class="card card-compact bg-base-100 w-96 shadow-xl px-3">
        <figure>
          <img src="{{ video.thumbnail }}" alt="{{ video.title }}">
        </figure>
        <div class="card-body">
          <h2 class="card-title">{{ video.title }}</h2>
          <div class="card-actions justify-end">
            <a href="{{ video.url }}" target="_blank" class="btn btn-primary">Watch Now</a>
          </div>
        </div>
      </div>
    {% empty %}
      p>No related videos found.</p>
    {% endfor %}
  </div>
  
  




<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script>
  const simplemde = new SimpleMDE({ 
    element: document.getElementById("instructions"),
    toolbar: false, 
  })

  simplemde.togglePreview();
</script>
</div>
{% endblock %}
